@font-face {
  font-family: 'vazir';
  src: local('vazir'), url('./fonts/Vazir.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-family: vazir, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}